POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nlp_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
CELERY_BROKER_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672//

LLM_API_URL=http://172.29.0.1:8080