# DATABASE_URL="postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

# REDIS_URL="redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/0"

# LLM_API_URL="http://${LLM_API_HOST}:${LLM_API_PORT}"
# LLM_ENDPOINT_HEALTH="/{ENDPOINT_HEALTH}"
# LLM_ENDPOINT_CALL="/{ENDPOINT_CALL}"

# BATCH_SIZE="{BATCH_SIZE}"
# MAX_WORKERS="{MAX_WORKERS}"

DATABASE_URL="postgresql+psycopg://pg_user:pg_pass@localhost:5432/pg_db"

REDIS_URL="redis://:r_pass@localhost:6379/0"

LLM_API_URL="http://llm.host:8080"
LLM_HEALTH_ENDPOINT="/health"
LLM_API_ENDPOINT="/v1/chat/completions"

BATCH_SIZE="10"
MAX_WORKERS="8"
