CONFIG=SELECT_CONFIG

POSTGRES_USER=pg_user
POSTGRES_PASSWORD=pg_pass
POSTGRES_HOST=pg_host
POSTGRES_PORT=5432
POSTGRES_DB=pg_port
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

RABBITMQ_USER=mq_user
RABBITMQ_PASSWORD=mq_pass
RABBITMQ_HOST=mq_host
RABBITMQ_PORT=5672
CELERY_BROKER_URL="amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}//"

LLM_API_HOST=llm.host
LLM_API_PORT=8080
LLM_API_URL="http://${LLM_API_HOST}:${LLM_API_PORT}"